In [12]:
!nvidia-smi ## Check the number of GPUs, their usage in the containers

Fri Feb 12 17:30:26 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 455.23.05    Driver Version: 455.23.05    CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla V100-SXM2...  On   | 00000000:3B:00.0 Off |                    0 |
| N/A   40C    P0    59W / 300W |    832MiB / 32510MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

## Imports

In [13]:
## Import Blazing Context from blazingsql
from blazingsql import BlazingContext

## Creating Blazing Context - This step is compulsary for running Blazing Queries

In [14]:
## Creating a Blazing Context -> Global Context, handles all the tables, quries that needs to be run 
bc = BlazingContext()

BlazingContext ready

In [15]:
## Creating a Data Frame to be loaded
import cudf
df = cudf.DataFrame()
df['y'] = range(5)
df['x'] = [i%2 for i in range(5)]
df

   y  x
0  0  0
1  1  1
2  2  0
3  3  1
4  4  0

## Creating a Table in Blazing Context

In [16]:
bc.create_table('A', df)

## Writing the Query as Python String

In [17]:
q= '''
SELECT * FROM A
'''

## Running the Query

In [18]:
## pass the query q written in the previous cell to bc.sql, this will read the query
## optimize the query using calcite, translate the query into cuda code, get the results in cudf.dataframe
bc.sql(q)

   y  x
0  0  0
1  1  1
2  2  0
3  3  1
4  4  0

In [19]:
## Relational Algebra

bc.explain(q)

'LogicalTableScan(table=[[main, A]])\n'